@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Walter Turncoat", cursive !important;
}

/* Heading {
  font-family: "Poppins", sans-serif;

} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: wheat;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: "grey";
  border-bottom: 1px solid wheat;
  color: wheat;
}

.u {
  width: 14px;
  height: 14px;
  position: relative;

  bottom: 0.05rem;
}
.r {
  width: 19px;
  height: 19px;
  position: relative;

  bottom: 0.1rem;
}

@media screen and (min-width: 768px) {
  .prev-pages:before {
    content: "Previous Page";
  }
}
@media screen and (max-width: 768px) {
  /* .navbar {
    flex-direction: column;
  } */
  .prev-pages:before {
    content: "prev";
  }
}
@media screen and (max-width: 370px) {
  /* .navbar {
    flex-direction: column;
  } */
  .prev-pages:before {
    content: "";
  }
  .\!pr-3 {
    padding-right: 0rem /* 12px */ !important;
  }
}

@media screen and (max-width: 550px) {
  .logo-name {
    display: none;
  }
  .u {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0.1rem;
  }
  .r {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .next-pages:before {
    content: "Next Page";
  }
}
@media screen and (max-width: 768px) {
  .next-pages:before {
    content: "next";
  }
}
@media screen and (max-width: 370px) {
  .next-pages:before {
    content: "";
  }
  .\!pl-3 {
    padding-left: 0rem /* 12px */ !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: "grey";
  border-bottom: 1px solid wheat;
  color: wheat;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content-left-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* List */
ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* @use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions;
} */

.poppins {
  text-transform: uppercase;
  font-weight: bolder;
}
